<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,625},{151,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{151,62}}</string>
                <key>sourceSize</key>
                <string>{157,68}</string>
            </dict>
            <key>bet_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,561},{151,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{151,62}}</string>
                <key>sourceSize</key>
                <string>{157,68}</string>
            </dict>
            <key>buy_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,487},{154,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,72}}</string>
                <key>sourceSize</key>
                <string>{156,72}</string>
            </dict>
            <key>buy_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,478},{154,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,72}}</string>
                <key>sourceSize</key>
                <string>{156,72}</string>
            </dict>
            <key>cash@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,272},{208,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,204}}</string>
                <key>sourceSize</key>
                <string>{208,204}</string>
            </dict>
            <key>character_frame@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,689},{141,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,134}}</string>
                <key>sourceSize</key>
                <string>{141,134}</string>
            </dict>
            <key>coin_1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,105},{69,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>coin_2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,714},{69,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>coin_3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,487},{69,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{69,50}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>coin_add@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,176},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,67}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>coin_box@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,220},{239,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,60}}</string>
                <key>sourceSize</key>
                <string>{239,60}</string>
            </dict>
            <key>coin_nor1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,896},{83,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,88}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>coin_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,827},{53,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{53,55}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>coin_on1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{83,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,88}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>coin_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{53,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{53,55}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>collect_gifts_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{276,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{276,101}}</string>
                <key>sourceSize</key>
                <string>{290,101}</string>
            </dict>
            <key>collect_gifts_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{276,101}}</string>
                <key>sourceSize</key>
                <string>{290,101}</string>
            </dict>
            <key>collect_now_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,145},{242,73}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{242,73}}</string>
                <key>sourceSize</key>
                <string>{254,101}</string>
            </dict>
            <key>collect_now_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,105},{242,73}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{242,73}}</string>
                <key>sourceSize</key>
                <string>{254,101}</string>
            </dict>
            <key>collect_now_progress1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,22},{268,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,18}}</string>
                <key>sourceSize</key>
                <string>{268,18}</string>
            </dict>
            <key>collect_now_progress2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{268,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,18}}</string>
                <key>sourceSize</key>
                <string>{268,18}</string>
            </dict>
            <key>dragons@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,449},{204,200}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{204,200}}</string>
                <key>sourceSize</key>
                <string>{208,204}</string>
            </dict>
            <key>frame@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{205,205}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{205,205}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>fruit@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,66},{208,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,204}}</string>
                <key>sourceSize</key>
                <string>{208,204}</string>
            </dict>
            <key>hold@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,242},{141,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,34}}</string>
                <key>sourceSize</key>
                <string>{141,34}</string>
            </dict>
            <key>jewels@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{203,203}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{203,203}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>line_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,561},{151,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{151,62}}</string>
                <key>sourceSize</key>
                <string>{157,68}</string>
            </dict>
            <key>line_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,552},{151,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{151,62}}</string>
                <key>sourceSize</key>
                <string>{157,68}</string>
            </dict>
            <key>lock@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,770},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>mail_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,735},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,74}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>mail_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,554},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,74}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>max_lines_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,245},{192,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{192,62}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>max_lines_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{192,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{192,62}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>number_box1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,180},{239,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,60}}</string>
                <key>sourceSize</key>
                <string>{239,60}</string>
            </dict>
            <key>number_box@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{239,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,60}}</string>
                <key>sourceSize</key>
                <string>{239,60}</string>
            </dict>
            <key>pay_back@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,749},{85,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{85,83}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>pay_table_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,630},{117,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{117,118}}</string>
                <key>sourceSize</key>
                <string>{129,122}</string>
            </dict>
            <key>pay_table_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,616},{117,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{117,118}}</string>
                <key>sourceSize</key>
                <string>{129,122}</string>
            </dict>
            <key>pirates@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,282},{205,203}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{205,203}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>send_gifts_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{243,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{243,101}}</string>
                <key>sourceSize</key>
                <string>{255,101}</string>
            </dict>
            <key>send_gifts_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,42},{243,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{243,101}}</string>
                <key>sourceSize</key>
                <string>{255,101}</string>
            </dict>
            <key>setting1_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,811},{83,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{83,88}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>setting1_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,749},{83,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{83,88}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>setting_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,478},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,74}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>setting_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,439},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,74}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>spin_nor@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,634},{117,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{117,118}}</string>
                <key>sourceSize</key>
                <string>{129,122}</string>
            </dict>
            <key>spin_on@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,515},{117,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{117,118}}</string>
                <key>sourceSize</key>
                <string>{129,122}</string>
            </dict>
            <key>zombies@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,242},{205,205}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{205,205}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comp@2x.png</string>
            <key>size</key>
            <string>{1024,986}</string>
            <key>textureFileName</key>
            <string>comp@2x.png</string>
        </dict>
    </dict>
</plist>
