<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,426},{144,150}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,44},{144,150}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10002_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1008},{142,142}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,49},{142,142}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10003_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1406},{136,138}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,50},{136,138}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10004_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1544},{138,134}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{138,134}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10005_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1888},{154,150}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,43},{154,150}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10006_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,572},{148,144}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,46},{148,144}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10007_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,864},{144,142}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{144,142}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10008_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,718},{144,148}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,41},{144,148}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10009_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1406},{140,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,45},{140,140}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10010_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1888},{152,148}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{152,148}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10011_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1336},{164,166}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,30},{164,166}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10012_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,1152},{174,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{174,182}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10013_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1502},{186,190}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{186,190}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10014_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,1208},{196,198}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{196,198}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10015_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1014},{192,200}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{192,200}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10016_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,418},{198,208}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{198,208}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10017_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{204,210}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{204,210}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10018_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,434},{212,212}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{212,212}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10019_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1112},{216,212}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{216,212}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10020_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1786},{218,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{218,214}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10021_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,674},{222,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{222,216}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10022_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,450},{222,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{222,220}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10023_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1360},{224,220}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{224,220}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10024_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,226},{222,222}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{222,222}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10025_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1134},{224,222}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{224,222}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10026_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1662},{224,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{224,222}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10027_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1436},{224,224}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{224,224}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10028_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,908},{224,224}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{224,224}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10029_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1210},{224,224}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{224,224}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10030_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1734},{224,224}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{224,224}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10031_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1508},{224,224}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{224,224}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10032_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{224,224}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{224,224}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10033_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{224,224}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{224,224}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10034_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1662},{224,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{224,222}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10035_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{222,222}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{222,222}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10036_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,668},{218,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{218,220}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10037_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,668},{218,216}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{218,216}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10038_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,218},{214,210}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{214,210}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10039_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,888},{216,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{216,208}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10040_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,218},{214,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{214,208}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10041_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{214,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{214,208}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10042_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,210},{208,206}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{208,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10043_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,2},{208,206}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{208,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10044_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,2},{208,206}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{208,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10045_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,2},{208,206}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{208,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>20001_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1436},{70,72}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,76},{70,72}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20002_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1436},{72,68}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,89},{72,68}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20003_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1960},{82,80}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,86},{82,80}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20004_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1960},{80,80}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,85},{80,80}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20005_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1960},{88,80}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,80},{88,80}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20006_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1960},{74,60}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,89},{74,60}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20007_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1960},{88,72}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,82},{88,72}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20008_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1960},{92,84}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{92,84}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20009_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1888},{152,122}}</string>
                <key>offset</key>
                <string>{34,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,63},{152,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20010_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,214},{210,164}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{210,164}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20011_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,648},{212,192}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{212,192}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20012_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1340},{220,204}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{220,204}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20013_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1564},{220,212}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,212}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20014_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1118},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20015_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1342},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20016_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20017_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20018_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1116},{220,202}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{220,202}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20019_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1338},{218,190}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{218,190}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20020_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{214,210}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{214,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20021_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1782},{198,216}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{198,216}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20022_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1562},{198,218}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{198,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20023_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,812},{200,202}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{200,202}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20024_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,618},{192,204}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{192,204}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20025_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,214},{196,210}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{196,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20026_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,434},{198,214}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{198,214}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20027_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,890},{200,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20028_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1564},{204,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{204,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20029_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1786},{208,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{208,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20030_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,446},{216,220}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{216,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20031_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,894},{218,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20032_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20033_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20034_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20035_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,672},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20036_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,896},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20037_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1120},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20038_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,450},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20039_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,674},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20040_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>20041_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,898},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>20042_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>20043_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>20044_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{300,290}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{300,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>20045_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{296,246}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{296,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>particle_pd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>particle_pd.png</string>
        </dict>
    </dict>
</plist>
