<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,520},{108,112}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,32},{108,112}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10002@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,738},{106,106}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{106,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10003@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,952},{102,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,35},{102,104}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10004@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1056},{104,100}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{104,100}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10005@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,294},{114,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{114,112}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10006@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,540},{110,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{110,108}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10007@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,630},{108,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{108,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10008@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,650},{106,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{106,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10009@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,846},{104,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{104,104}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10010@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,408},{112,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{112,110}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10011@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1306},{124,124}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{124,124}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10012@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{130,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{130,136}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10013@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1206},{138,142}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{138,142}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10014@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1190},{146,146}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{146,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10015@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1062},{142,150}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{142,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10016@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1042},{146,154}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{146,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10017@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1002},{152,156}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{152,156}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10018@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,914},{158,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{158,158}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10019@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,700},{160,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{160,158}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10020@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{162,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{162,160}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10021@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,898},{164,162}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{164,162}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10022@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,870},{166,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{166,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10023@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,836},{166,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{166,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10024@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,694},{166,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{166,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10025@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{168,164}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{168,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10026@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{166,166}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{166,166}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10027@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,534},{168,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{168,166}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10028@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,562},{166,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10029@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,730},{166,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{166,166}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10030@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,540},{166,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10031@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,708},{166,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{166,166}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10032@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,702},{166,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{166,166}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10033@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,690},{166,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{166,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10034@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,668},{166,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{166,166}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10035@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,688},{166,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{166,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10036@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{162,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{162,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10037@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,692},{162,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{162,158}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10038@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,852},{160,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{160,156}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10039@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,860},{160,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{160,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10040@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,758},{160,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{160,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10041@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,854},{160,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10042@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,860},{156,154}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{156,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10043@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,856},{156,154}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{156,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>10044@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{208,206}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{208,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>10045@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1036},{154,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>20001@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,392},{58,60}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,62},{58,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20002@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,452},{60,56}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,73},{60,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20003@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,204},{68,66}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,70},{68,66}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20004@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,272},{66,66}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,69},{66,66}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20005@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,74},{74,66}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{74,66}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20006@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,340},{62,50}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,72},{62,50}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20007@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,142},{72,60}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{72,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20008@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,2},{76,70}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,57},{76,70}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20009@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1158},{126,100}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,52},{126,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20010@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,532},{172,134}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{172,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20011@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,540},{174,158}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{174,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20012@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,392},{180,168}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20013@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,364},{180,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20014@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20015@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20016@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20017@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20018@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,366},{180,166}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{180,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20019@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,366},{178,156}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{178,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20020@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,518},{176,172}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{176,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20021@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,366},{162,178}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{162,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20022@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,366},{162,178}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{162,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20023@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,876},{164,166}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{164,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20024@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,530},{158,168}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{158,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20025@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,530},{162,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{162,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20026@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,524},{162,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{162,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20027@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,366},{164,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20028@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{168,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{168,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20029@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,366},{172,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{172,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20030@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,184},{178,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20031@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20032@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20033@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20034@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,210},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20035@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20036@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20037@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20038@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20039@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20040@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20041@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20042@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20043@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>20044@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,290}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{300,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>20045@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,366},{178,150}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>particle@2x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>particle@2x.png</string>
        </dict>
    </dict>
</plist>
